*{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: grid;
    font-family: Staatliches;
    background-color: rgb(49, 49, 49);
}

.logotipo{
    width: 150px;
    padding: 10px 0 ;
}

.row{
    width: 100%;
    margin: 20px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.banner1{
    display: flex;
    justify-content: right;
    margin: auto;
    width: 400px;
    height: 200px;
}

.banner2{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: 200px;
}

h2,h3,h4{
    color: #f2f2f2;
    background: fixed;
    margin: 0;
    margin-bottom:15px;
    text-align: center;
}

footer{
    margin: 0;
    background-color: #313131f1;
    border-style: solid;
    border-color: black;
    border-bottom: rgba(49, 49, 49);
    border-left: rgba(49, 49, 49);
    border-right: rgba(49, 49, 49);
}

.final{
    display: flex;
    width: 350px;
    margin: auto;
}



