.logotipo{
    width: 150px;
    padding: 10px 0 ;
}

h1{
    text-align: center;
    margin: 20px 0;
    font-size: 3rem;
}

h2{
    text-align: center;
    margin: 20px 0;
    font-size: 1.7rem;
}

p{
    text-align: center;
    margin: 20px 0;
}
h3,h4,h5{
    color: #f2f2f2;
    background: fixed;
    margin: 0;
    margin-bottom:15px;
    text-align: center;
}

.scroll{
    margin: 50px;
}

h6{
    color:rgb(0, 0, 0);
    font-size: 1.7rem;
}

.maquinas{
    font-size: 1.3rem;
    text-decoration: underline;
}

.reglamento{
    font-size: 1.3rem;
    text-decoration:underline;
}

.equipo{
    font-size: 1.3rem;
    text-decoration: underline;
}

footer{
    margin: 0;
    background-color: #313131f1;
    border-style: solid;
    border-color: black;
    border-bottom: rgba(49, 49, 49);
    border-left: rgba(49, 49, 49);
    border-right: rgba(49, 49, 49);
}
.final{
    display: flex;
    width: 350px;
    margin: auto;
}